<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
</head>
<body>
<form th:action="@{|/survey/${surveyId}/respond|}" method="post">
    <h1 th:text="'Survey: ' + ${survey.name}">Survey Title</h1>
    <div th:each="question : ${survey.questions}">
        <h2 th:text="${question.surveyQuestion}">question</h2>
        <label for="'answerText_' + ${question.id}" th:text="'Answer for Question ' + ${question.id} + ':'"></label>
        <input type="text" id="'answerText_' + ${question.id}" th:name="'answers[' + ${question.id} + '].response'">
    </div>
    <button type="submit">Submit Answer</button>
</form>
</body>
</html>
