<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Response Recorded</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<a href="/">
    <img src="/images/Mini-SM-Logo.png" alt="Mini-SurveyMonkey Logo">
</a>
<main class="container">
    <h1>Your survey response has been recorded!</h1>
    <button onclick="window.location.href='/'">Return to Home</button>
</main>
<footer>
    Group 17 - Mini-SurveyMonkey
</footer>
</body>
</html>