<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create an Account</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<a href="/">
  <img src="/images/Mini-SM-Logo.png" alt="Mini-SurveyMonkey Logo">
</a>
<div class="container">
  <h1>Register an Account</h1>
  <form th:action="@{/account/register}" th:object="${user}" method="post">
    <p th:if="${message != ''}" style="color: red; font-weight: bold;" th:text="${message}"></p>
    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{username}" placeholder="Enter username here..." required />

    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{hashedPassword}" placeholder="Enter password here..." required />

    <button type="submit">Create Account</button>
  </form>
</div>
</body>
<footer>
  Group 17 - Mini-SurveyMonkey
</footer>
</html>